*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: GilroyEB;
    src: url("../static/fonts/Gilroy-ExtraBold.ttf");
}

@font-face{
    font-family: DINProCM;
    src: url("../static/fonts/DINPro-CondensedMedium.ttf");
}

header{
    background-color: rgba(0, 0, 0, 0.308);
    height: 120px;
    font-size: 30px;
}

.main-1200{
    max-width: 1200px;
    margin: 0 auto 0 auto;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

a{
    transition: 0.3s all;
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s all;
}

body{
    font-family: DINProCM;
    color: white;
    background-color: black;
}

section,
footer{
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 10px;
}

.flex-container{
    display: flex;
}

/*******************************************ЭТО ДЛЯ MAIN*******************************************/

.buter{
    display: none;
}

.main-background{
    height: 100vh;
    background-image: url("../static/images/left-back.jpg");
    background-size: cover;
    flex-direction: column;
}

.header-ul{
    gap: 30px;
}

.right-block{
    flex-direction: column;
    gap: 5px;
    font-size: 30px;
    align-items: flex-end;
}

.ring{
    display: none;
}

.right-block a:hover,
.header-ul li:hover{
    opacity: 0.5;
}

button{
    transition: 0.3s all;
    border: 0;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: DINProCM;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(65.15deg, #527cee 53.29%, #c32aee 90.87%);
    position: relative;
}

button::before{
    transition: 0.3s all;
    border: 0;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: DINProCM;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    content: "Обратный звонок";
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    background: linear-gradient(65.15deg, #ee2ab3 10.87%, #527cee 53.29%);
}

button:hover::before{
    opacity: 1;
    cursor: pointer;
    background: linear-gradient(65.15deg, #ee2ab3 10.87%, #527cee 53.29%);
}

.c-1::before{
    content: "Купить хочу!";
}

.c-2::before{
    content: "Подробнее";
}

.main-content{
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex: 1;
}

.main-content h1{
    font-size: 64px;
}

.main-content p{
    font-size: 32px;
    margin-bottom: 30px;
}

/*******************************************ЭТО ДЛЯ КАРТОЧЕК*******************************************/

.cards{
    justify-content: space-between;
    gap: 40px;
}

.card{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 33%;
}

.card h2{
    font-size: 36px;
}

.card p{
    font-size: 22px;
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 10px;
}

.card-content{
    flex-direction: column;
    gap: 20px;
    flex: 1;
    align-items: flex-start;
    justify-content: space-between;
}

.card-text{
    flex-direction: column;
    gap: 20px;
}

/*******************************************ЭТО ДЛЯ ДВОЙНОГО БЛОКА*******************************************/

.cards-2{
    justify-content: space-between;
    gap: 40px;
}

.cards-2__image{
    width: 60%;
    background-image: url("../static/images/background.jpg");
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px;
    border-radius: 10px;
}

.cards-2__right{
    width: 40%;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    align-items: flex-start;
}

.cards-2__image--tetx{
    background-color: #0000008f;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
}

.cards-2__image--tetx h2,
.cards-2__right h2,
.poz-right h2,
.poz-left h2{
    font-size: 36px;
}

.cards-2__image--tetx p,
.cards-2__right p,
.poz-right p,
.poz-left p{
    font-size: 22px;
}

.poz{
    justify-content: space-between;
    position: relative;
}

.poz-left,
.poz-right{
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 600px;
    background-image: url("../static/images/red.png");
    gap: 20px;
    flex-direction: column;
}

.poz-ramka{
    border: 4px white solid;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    position: absolute;
    top: 0;
}

.for-poz{
    z-index: 10;
}

.poz-left-for-absolute{
    left: 0;
    margin: 40px 0 0 40px;
}

.poz-right-for-absolute{
    right: 0;
    margin: 40px 40px 0 0;
}

.m40{
    margin-bottom: 80px;
}

/*******************************************ЭТО ДЛЯ ФОРМЫ*******************************************/

#form-button::before{
    content: "Отправить";
}

.form-style{
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.form-style h1{
    font-size: 46px;
}

.text-field1,
.text-field-sms{
    background-color: black;
	border-radius: 10px;
	font-size: 28px;
	font-family: DINProCM;
	color: white;
	width: 400px;
	padding: 5px 15px;
	border: 2px solid white;
    resize: none;
}

/*******************************************ЭТО ДЛЯ СЛАЙДЕРА*******************************************/

.c-slider .slick-track{
	display: flex;
}

.c-slider .slick-list{
	overflow: hidden;
	margin: 0 -15px;
}

.f-s{
    padding: 0 15px 0 15px;
}

.team-slider-arrows,
.dev-slider-arrows{
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-top: 30px;
}

.team-slider-arrows img:hover,
.dev-slider-arrows img:hover{
	opacity: 0.5;
}

.team-slider-arrows img,
.dev-slider-arrows img{
	width: 50px;
	height: 50px;
	cursor: pointer;
	transition: all .3s;
}

/*******************************************ЭТО ДЛЯ ФУТЕРА*******************************************/

footer > div > a > img{
    height: 50px;
    width: 50px;
    transition: .3s all;
}

footer > div > a > img:hover{
    scale: 0.9;
}

footer{
    justify-content: space-between;
    align-items: center;
}

footer p{
    font-size: 36px;
}

/*******************************************ЭТО ДЛЯ АДАПТИВА*******************************************/

@media(max-width: 1100px){ /*от 0 до 1100px*/
    .cards,
    .cards-2{
        gap: 20px;
    }
}

@media(max-width: 950px){
    nav,
    .poz-ramka{
        display: none;
    }
}

@media(max-width: 850px){
    .cards, .cards-2{
        flex-direction: column;
        max-width: 400px;
        margin: auto;
    }
    .card{
        width: 100%;
    }
    .poz{
        flex-direction: column;
        gap: 20px;
        max-width: 400px;
        margin: auto;
    }
    .poz-left,
    .poz-right{
        width: 100%;
        height: auto;
    }
    .cards-2__image,
    .cards-2__right{
        width: 100%;
    }
    .c-slider .slick-list {
        margin: 0;
    }
}

@media(max-width: 600px){
    .ring{
        display: block;
    }
    .ring img{
        height: 50px;
        width: 50px;
    }
    .right-block button,
    .ring-pc{
        display: none;
    }
    .main-content h1{
        font-size: 36px;
    }
    .main-content p{
        font-size: 22px;
    }
    .m40{
        margin-bottom: 0;
    }
    .text-field1, 
    .text-field-sms{
        width: 100%;
    }
}